---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---


  <div class="w-5/6 mx-auto mb-[2rem] items-center">
    <section class="relative mx-auto">
      <!-- navbar -->
      <nav
        class="justify-between dark:bg-transparent bg-white dark:text-white text-black"
      >
        <div class="py-4 flex items-center justify-between">
          <a
            class=" unset text-3xl font-heading font-black bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
            href="/"
          >
            <!-- <img class="h-9" src="logo.png" alt="logo"> -->
            DevBlogs
          </a>
          <!-- Nav Links -->
          <ul
            class="unset hidden md:flex  mx-auto font-semibold font-heading "
          >
            <li><HeaderLink href="/">Home</HeaderLink></li>
            <li><HeaderLink href="/blog">Blog</HeaderLink></li>
            <li><HeaderLink href="/projects">Projects</HeaderLink></li>
          </ul>
          <!-- Header Icons -->
          <div class="unset hidden md:flex items-center xl:justify-end">
            <a
              class="unset text-xl ml-4 hover:text-text-link"
              href="https://github.com/flexdinesh/blogster"
            >
              <i
                class="fa-brands fa-github"
                aria-hidden="true"
                title="Blogster on GitHub"></i>
              <span class="fa-sr-only">Blogster on GitHub</span>
            </a>
            <a
              class="unset text-xl ml-4 hover:text-text-link"
              href="https://twitter.com/flexdinesh"
            >
              <i
                class="fa-brands fa-twitter"
                aria-hidden="true"
                title="Dinesh on Twitter"></i>
              <span class="fa-sr-only">Dinesh on Twitter</span>
            </a>
            
          </div>
          <div class="flex ">
            <DarkModeToggle />
            <a class="unset navbar-burger self-center md:hidden ml-3" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 hover:text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- Responsive navbar -->

       
      </nav>
    </section>
  </div>

