---
---

<section class="mt-[4rem] mb-8 text-center">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent "
      >
        Rohit Kushwaha
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer. Cloud Support Engineer. Blogger.</p>
  </div>
  <div>
    <p class="mb-5">
      Building the Front-end of Websites and Web Applications that leads to the success of the overall product. 
    </p>
   
  </div>
</section>
