---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<section class="mt-[4rem] mb-8 text-center">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent "
      >
        Welcome to DevBlogs
      </span>
    </h1>
    <p class="text-2xl pb-4">All About Technology</p>
  </div>
  <div>
    <p class="mb-5">
      All concepts of technology are explained in a simple way. You can learn about Computer Science, Web Development, Programming, and many more.
    </p>
   
  </div>
</section>

