---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GoogleAds from "./GoogleAds.astro";
import GoogleAnalytics from "./GoogleAnalytics.astro";
// import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
    <GoogleAds />
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
		<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
    <GoogleAnalytics />
    <!-- <ViewTransitions /> -->
    
  </head>

  <body class="">

    <Header/>
    <main class="w-5/6 mx-auto" id="main">
      <slot name="main" />
    </main>
    <Footer />
  </body>
</html>